---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import Main from '../components/Main.astro'
---

<Layout title="briheet's site">
  <div class="min-h-screen">
    <Nav />

    <main>
      <Main />
    </main>

    <Footer />
  </div>
</Layout>

