<footer
  class="mx-auto mt-24 flex max-w-4xl justify-center py-8 text-sm text-zinc-400"
>
  <div class="flex gap-6">
    <a
      href="https://github.com/briheet"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors duration-300 hover:text-white"
    >
      GitHub
    </a>

    <a
      href="https://www.linkedin.com/in/briheet-singh-yadav/"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors duration-300 hover:text-white"
    >
      LinkedIn
    </a>

    <a
      href="mailto:briheetyadav@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors duration-300 hover:text-white"
    >
      Email
    </a>

    <a
      href="https://x.com/brsy_10"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors duration-300 hover:text-white"
    >
      X
    </a>
    

    <a
      href="https://drive.google.com/file/d/1NwneIBi7UTfAtiKaox4izJPFY10NYMhD/view"
      target="_blank"
      rel="noopener noreferrer"
      class="transition-colors duration-300 hover:text-white"
    >
      Resume
    </a>
  </div>
</footer>
