<nav class="mx-auto flex max-w-5xl items-center justify-between px-6 py-7">
  <a
    href="/"
    class="text-sm font-medium text-zinc-200 transition-colors duration-300 hover:text-white"
  >
    Home
  </a>

  <div class="flex items-center gap-6 text-sm font-medium">
    <a
      href="/blogs/"
      class="text-zinc-400 transition-colors duration-300 hover:text-white"
    >
      Blog
    </a>

    <a
      href="/workex/"
      class="text-zinc-400 transition-colors duration-300 hover:text-white"
    >
      Workex
    </a>
  </div>
</nav>
