@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0 text-foreground;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../public/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}



@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

.text-glow {
  position: relative;
}

.text-glow::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.02) 20%, transparent 40%);
  backdrop-filter: blur(1px);
  border-radius: 4px;
  z-index: -1;
}
